/* themes.css */
:root {
  /* Light Theme */
  --theme-primary-bg: white;
  --theme-primary-text: black;
  --theme-secondary-bg: #f9f9f9;
  --theme-secondary-text: #555;
  --theme-button-bg: #df2626;
  --theme-button-text: white;
  --theme-topbar-bg: #f1f1f1;
  --theme-active-bg: #aaaaaa;
  --theme-active-txt: #000000;
  --theme-hover-bg: #df2626;
  --theme-hover-text: white;
  --theme-hover-signout-bg: rgb(170, 170, 170);
  --theme-signout-bg: #d2d2d2;
  --theme-border: #b3acac;
  --theme-nav-bg: #d2d2d2;
  --theme-nav-txt: #000000;
}

[data-theme="dark"] {
  --theme-primary-bg: #2c2c2c;
  --theme-primary-text: #eae8e8;
  --theme-secondary-bg: #3a3a3a;
  --theme-secondary-text: #fffcfc;
  --theme-button-bg: #df2626;
  --theme-button-text: white;
  --theme-topbar-bg: #1f1f1f;
  --theme-accent-color: #df2626;
  --theme-active-link:  #bbbbbb;
  --theme-text-ternary: black;
  --theme-button-secondary: #bbbbbb;
  --theme-hover-text: white;
  --theme-hover-bg: #df2626;
  --theme-hover-signout-bg: #9e1d1d;
  --theme-border: #1f1f1f;
  --theme-nav-bg:#444444;
  --theme-nav-txt: white;
  --theme-active-txt:#444444;
  --theme-active-bg: #b9b3b3;
  --theme-hover-signout-bg: rgb(170, 170, 170);
  --theme-signout-bg:#444444;
}

[data-theme="pink"] {
  --theme-primary-bg: #ffe4e1;
  --theme-primary-text: #000000;
  --theme-secondary-bg: #ffb6c1;
  --theme-secondary-text: #333333;
  --theme-button-bg: #ff69b4;
  --theme-button-text: white;
  --theme-topbar-bg: #ffccd5;
  --theme-accent-color: #ff69b4;
  --theme-active-link: #ff69b4;
  --theme-button-secondary: #ff69b4;
  --theme-text-ternary: black;
  --theme-hover-text: #ff69b4;
  --theme-hover-bg: #ffb6c1;
  --theme-hover-signout-bg: #ffb6c1;
  --theme-border: #d07885;
  --theme-nav-bg:#ffb6c1;
  --theme-nav-txt: rgb(0, 0, 0);
  --theme-active-txt:#444444;
  --theme-active-bg: #ffffff;
  --theme-hover-signout-bg: #d07885;
  --theme-signout-bg:#ffb6c1;
}

body {
  background-color: var(--theme-primary-bg);
  color: var(--theme-primary-text);
}

.theme-primary-bg {
  background-color: var(--theme-primary-bg);
}

.theme-primary-text {
  color: var(--theme-primary-text) !important;
}

.theme-secondary-bg {
  background-color: var(--theme-secondary-bg);
}

.theme-secondary-text {
  color: var(--theme-secondary-text);
}

.theme-button-bg {
  background-color: var(--theme-button-bg);
}

.theme-button-text {
  color: var(--theme-button-text);
}

.theme-topbar-bg {
  background-color: var(--theme-topbar-bg);
}

.theme-accent-color {
  color: var(--theme-accent-color);
}

.theme-active-link {
  background-color: var(--theme-active-link) !important;
}

.theme-text-ternary {
  color: var(--theme-text-ternary);
}

.theme-button-secondary {
  background-color: var(--theme-button-secondary);
}

button:hover {
  opacity: 0.8;
}

.theme-nav-bg {
  background-color: var(--theme-nav-bg);
  color: var(--theme-nav-txt);
}

.theme-active-txt {
  color:var(--theme-active-txt);
}
.theme-active-bg{
  color:var(--theme-active-bg);
}

.nav-link {
  color: var(--theme-nav-txt);
  text-decoration: none;
}

.nav-link.active-link {
  background-color: var(--theme-active-bg);
  color: var(--theme-active-txt); /* Ensure this color is not blue */
}

.nav-link:visited {
  color: var(--theme-nav-txt); /* Use the same color as the normal text */
}

.nav-link:hover {
  color: var(--theme-hover-text);
  background-color: var(--theme-hover-bg);
}

.nav-link:active {
  color: var(--theme-active-txt);
}


button.submit-button.theme-button-bg.theme-button-text {
  background-color: var(--theme-button-bg);
  color: var(--theme-button-text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

button.submit-button.theme-button-bg.theme-button-text:hover {
  background-color: var(--theme-hover-bg);
  color: var(--theme-hover-text);
  opacity: 0.8;
}

.signout-button {
  background-color: var(--theme-signout-bg);
  color: var(--theme-signout-text);
  transition: background-color 0.3s ease, font-weight 0.3s ease;
  max-width: 120px; 
  white-space: nowrap;
}

.signout-button:hover {
  background-color: var(--theme-hover-signout-bg);
  color: var(--theme-button-text);
}

button:hover {
  opacity: 0.8;
}


.navbar .nav-link {
  max-width: 120px; /* Set a maximum width */
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  overflow: hidden; /* Hide overflow */
   /* Add ellipsis (…) if the text overflows */
}

@media (max-width: 768px) {
  .navbar {
    display: none; /* Hide the navigation links */
  }

  .menu-button {
    display: inline-block; /* Show the menu button */
  }
}

.menu-button {
  display: none; /* Hide the menu button by default */
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.navbar {
  display: flex;
  gap: 1rem; /* Adjust the value as needed */
}

.nav-link.account-link {
  margin-left: 1rem; /* Adjust the value as needed */
}

.nav-link.resources-link {
  margin-right: 1rem; /* Adjust the value as needed */
}
