/* DailyTrack.css */

/* Custom styles, if any, that are not covered by Tailwind classes */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 70%;
    margin: 10px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
}

.mood-buttons, .socialisation-buttons, .productivity-buttons {
    margin-top: 10px;
}

.mood-buttons button, .socialisation-buttons button, .productivity-buttons button {
    margin-right: 10px;
    margin-bottom: 10px;
}

.submit-button {
    background-color: #e0220d;
    color: white;
}

.submit-button:hover {
    background-color: #b71709;
}
